@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
}
#barraSuperior{
    background-color: #00264C;
    height: 80px;
  
}
#opciones-menu a{
  text-decoration: none;
}
.vertical-midle{
  vertical-align: middle;
}
#contenedor-barra-superior{
  display:grid;
  grid-template-columns:5fr 5fr;
  grid-template-areas:"logo opciones";
  width: 90%;
  height: 100%;
  margin: auto;
  align-items: center;
}
#logo{
    font-family: 'Pacifico', sans-serif;   
    color: white;
    display: inline-block;
    grid-area: logo;
    height: 65px;
    width: auto;
}
#opciones-menu{
  grid-area: opciones;
}
#opciones-menu ul{
  list-style: none;
  color: white;
  display: inline-block;
  float: right;
  padding: 0;
}
#opciones-menu ul li{
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 100;
}
.indicador-selected{
  background-color: white;
  height: 4px;
  width: 100%;
  border-radius: 2px 2px 0px 0px;
  display: none;
}

@media only screen and (max-width: 750px) {
  #opciones-menu{
    display: none;
  }
  #contenedor-barra-superior{
    grid-template-columns:10fr 0fr;
  }
  #logo{
    font-size: 22px;
  }
}
