#nosotros{
    height: 100%;
    padding: 2px;
}
.img-nosotros{
    width: 100%;
    min-height: 720px;
    margin-top: 5px;
    grid-area: img;
    background-image: url("../imagenes/imagenes/conocenos.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size:cover;
}
.border-botom{
    border-bottom: solid 2px #00264C;
}
.titulo-nosotros{
    margin: 4px;
    text-align: left;
}
.subtitulo{
    font-size: 18px !important;
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "subtitulo arrow";
    padding-left: 5px;
    
}
.subtitulo span{
    grid-area: subtitulo;
    padding-top: 5px;
}
.arrow{
    grid-area: arrow;
    background-image: url("../imagenes/icons/expand_more.svg");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: auto;
    transform: rotate(0deg);
}
#sobre-nosotros{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-areas:'itemNosotros img'
                        'itemNosotros img'
                        'itemNosotros img';
    align-items: center;
    
}
.cont-items-nosotros{
    position: relative; 
    margin: 4px;
}
.padre-cont-items-nosotros{
    grid-area: itemNosotros;
}
.info.info-about{
    display: grid;
    grid-template-columns: auto !important;
    grid-template-areas: "parrafo" !important;

}
.cont-items-nosotros .info {
    overflow: hidden;
    height: 0px;
    margin: 0;
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "parrafo foto-perfil";
    align-items: center;
}
.cont-items-nosotros p {
    grid-area: parrafo;
    margin: 5px;
    line-height: 1.5;

    
}
.avatar{
    grid-area: foto-perfil;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
@media only screen and (max-width: 750px) {
    #sobre-nosotros{
        display: grid;
        grid-template-areas:'img img'
                            'titulo titulo'
                            'itemNosotros itemNosotros '
                            'itemNosotros itemNosotros'
                            'itemNosotros itemNosotros';
    }
    .img-nosotros{
        min-height: 300px;
    }
    .cont-items-nosotros .info {
        grid-template-columns: auto;
        grid-template-areas:"foto-perfil" 
                            "parrafo";
    }
}