@import 'barraSuperior.css';
@import 'Filtro.css';
@import 'Menu-movil.css';
@import 'Publicaciones.css';
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
  }
body,html{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 1920px;
    margin: auto;
}
#container{
    height: 100%;
}
#contenido{
    width: 90%;
    margin: auto;
}
#nosotros,#contacto{
    display: none;
}
/* Sub titulos en publicaciones */
#cont-items-menu-publicaciones{
    display: grid;
    height: 35px;
    width: 100%;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:"espacio opciones-publicaiones search";
}
#items-menu-publicaciones{
    grid-area: opciones-publicaiones;
    margin: auto;
}
#items-menu-publicaciones ul li{
    list-style: none;
    position: relative;
    float: left;
    margin-left: 15px;
    font-size: 20px;
    color: #00264C;
    margin-top: -0.5em;
}
#cont-form-filter{
    grid-area: search;
}
#linea{
    background-color:#00264C;
    height: 2px;
    border: none;
}
.cursor-pointer{
    cursor: pointer;
}
.backGroundBlue{
    background-color:#00264C !important ;
}
.text-color-white{
    color: white;
}
@media only screen and (max-width: 1356px) {
    #contenido{
        width: 99%;
    }
    #cont-items-menu-publicaciones{
        grid-template-columns: 0fr 6fr 4fr;
    }
  }

  @media only screen and (max-width: 750px) {
    #contenido{
        width: 99%;
    }
    #cont-items-menu-publicaciones{
        display: block;
        height: auto;
    }
    #form-filter{
        display: block;
    }
    .item-menu-publicaciones{
        margin-left: 5px !important;
        font-size: 18px !important;
    }
    #logoBuscar{
        background-color: #ECECEC;
    }
  }