@import 'barraSuperior.css';
@import 'Filtro.css';
@import 'Menu-movil.css';
@import 'Publicaciones.css';
@import 'loaderApp.css';
@import 'DetallePublicacion.css';
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
  }
body,html{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
}
#container{
    height: 100%;
}
#contenido{
    width: 90%;
    margin: auto;
}
#nosotros,#contacto{
    display: none;
}
/* Sub titulos en publicaciones */
#cont-items-menu-publicaciones{
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:"espacio opciones-publicaiones search";
}
#items-menu-publicaciones{
    display: flex;
    flex-wrap: wrap;
    grid-area: opciones-publicaiones;
}
.item-menu-publicaciones{
    position: relative;
    margin-left:5px;
    font-size: 20px !important;
    color: #00264C;
    letter-spacing: 1px;
}
#cont-form-filter{
    grid-area: search;
}
#linea{
    background-color:#00264C;
    height: 2px;
    border: none;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}
.cursor-pointer{
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}
.backGroundBlue{
    background-color:#00264C !important ;
}
.text-color-white{
    color: white;
}
@media only screen and (max-width: 1356px) {
    #contenido{
        width: 99%;
    }
    #cont-items-menu-publicaciones{
        grid-template-columns: 0fr 8fr auto;
    }
  }

  @media only screen and (max-width: 750px) {
    
    
    #contenido{
        width: 99%;
    }
    #cont-items-menu-publicaciones{
        display: block;
        height: auto;
    }
    #logoBuscar{
        background-color: #ECECEC;
    }
    footer{
        margin-bottom: 50px;
    }
  }
  footer{
      background-color: #00264C;
      color: white;
      font-size: 14px;
      padding: 15px;
  }
  footer span{
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
  }
  footer a {
    color: white;
  }
  footer img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
  }
  #redes-sociales{
    position: fixed;
    top: 50%;
    z-index: 10;
    left: 0;
    width: auto;
    width: 40px;
  }
  #redes-sociales img{
      margin: 0 !important;
  }
