@import 'barraSuperior.css';
@import 'Filtro.css';
@import 'Menu-movil.css';
@import 'Publicaciones.css';
@import 'loaderApp.css';
@import 'DetallePublicacion.css';
@import 'Nosotros.css';
@import 'Contacto.css';
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}
body,html{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    max-width: 1920px;
    margin: auto;
    scroll-behavior: smooth;
    color:#696969;
}
.titulo {
    font-family: Oswald;
    color: black;
    font-size: 22px !important;
}
.transition{
    transition: height 0.5s,transform 0.5s;
}
.display-none{
    display: none;
}
h1,h2,h3,h4,h5{
    color: black;
}
#container{
    height: 100%;
}
#contenido{
    width: 90%;
    min-height:calc(100% - 117px);
    margin: auto;
    position: relative;
}
#nosotros,#contacto{
    display: none;
}
#linea{
    background-color:#00264C;
    height: 2px;
    border: none;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}
.cursor-pointer{
    cursor: pointer;
}
.text-align-center {
    text-align: center;
}
.backGroundBlue{
    background-color:#00264C !important ;
}
.text-color-white{
    color: white;
}
@media only screen and (max-width: 1356px) {
    #contenido{
        width: 99%;
    }
  }

  @media only screen and (max-width: 750px) {
    #contenido{
        width: 99%;
    }
    #cont-items-menu-publicaciones{
        display: block;
        height: auto;
    }
    footer{
        margin-bottom: 50px;
    }
  }
  footer{
      background-color: #00264C;
      color: white;
      font-size: 14px;
      padding: 15px;
  }
  footer span{
    margin: auto;
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
  }
  footer a {
    color: white;
  }
  footer img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
  }
  #redes-sociales{
    position: fixed;
    top: 50%;
    z-index: 10;
    left: 0;
    width: auto;
    width: 40px;
  }
  #redes-sociales img{
      margin: 0 !important;
  }
